<section
      class="py-24 sm:py-32 px-6 lg:px-10"
      style={{ backgroundColor: "#00dcda" }}
    >
      <div class="mx-auto container">
        <div class="mb-10 flex lg:items-center gap-10">
          <h2
            class="xl:text-[16rem] lg:text-[13rem] md:text-[10rem] text-[5rem] break-words
                        font-sans font-500 md:leading-[16rem] leading-[5rem] text-[#00224c] self-center tracking-tighter"
          >
            Po<span class="tracking-wider">rt</span>
            <span class="sm:hidden">
              <br />
            </span>
            folio
          </h2>
          <div class="self-center">
            <!-- <PortfolioTab
              categories={categories}
              onChangeCategory={handleCategoryChange}
              activeCategory={activeCategory}
            /> -->
          </div>
        </div>
        <!-- <ul class="flex flex-row flex-wrap justify-center mx-auto gap-10">
          {filteredProjects.map((project, index) => (
            <ProjectCard key={index} project={project} />
          ))}
        </ul> -->
      </div>
    </section>